/* Left sidebar hidden on tablets and below */
@media (max-width: 991px) {
    .sidebar {
         transform: translateX(-100%); /* hidden by default */
    }
    .sidebar.active {
        transform: translateX(0); /* show when toggled */
        z-index: 1001;
    }
    .main-content {
        margin-left: 0;/* Fix big left margins for sections on smaller screens */
        width: 100%;
        padding: 30px 15px; 
         /* padding: 80px 15px 20px 15px;  header space */
    }
    .main-header {
        left: 0;
    }
     .nav-toggle {
        display: block;
    }
}


/* Responsive scaling for small devices */

@media (max-width: 768px) {
    .sidebar-nav {
        right: 15px; /* Hide sidebar on small screens */
        transform: translateY(-50%) scale(0.95);
    }
    .sidebar-nav a {
        font-size: 0.85rem;
    }
    .col-md-3 {
        -ms-flex: 0 0 25%;
        flex: 0 0 25%;
        max-width: 25%;
    }
  .sidebar {
    display: none;
  }

  /* Ensure main-content takes full width when sidebar is hidden */
  .main-content {
    margin-left: 0; /* Ensure main-content takes full width when sidebar is hidden */
  }

  .main-header {
    left: 0;
  }
}

/* Responsive scaling for small devices */
@media (max-width: 480px) {
    .sidebar-nav {
        right: 10px;
        transform: translateY(-50%) scale(0.85);
    }
    .sidebar-nav a {
        font-size: 0.75rem;
    }
     .main-content {
        padding: 20px 10px;
    }
}

@media (max-width: 320px) {
    .sidebar-nav {
        right: 5px;
        transform: translateY(-50%) scale(0.75);
    }
    .main-content {
        padding: 15px 5px;
    }
}



