
/*-------------------------------
Right Sidebar Nav
-------------------------------*/
.sidebar-nav {
    position: fixed;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    z-index: 1000;
}

.sidebar-nav a {
    color: var(--text-gray);
    text-decoration: none;
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    font-weight: 500;
    font-size: 0.85rem;
    transition: color 0.3s;
     line-height: 1.2;
}

.sidebar-nav a.active, 
.sidebar-nav a:hover {
    color: var(--text-light);
    font-weight: 600;
}

.sidebar-nav nav {
  display: flex;
  flex-direction: column;
  gap: 20px;
}


.sidebar.active {
        transform: translateX(0); /* show when toggled */
        z-index: 1001;
    }

    * {
  box-sizing: border-box;
}

